.xamkorlar {
  &_info {
    padding-bottom: 50px;

    h1 {
      color: #2E3038;
      font-size: 30px;
      font-weight: 600;
      line-height: 42px;
      text-transform: uppercase;
    }

    p {
      color: #828388;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 5%;
    border-block: 1px solid #ccc;

    .vertical_chiziq {
      width: 1px;
      height: 70px;
      background-color: #ccc;
      display: none;
    }

    .xamkor_item {
      padding: 29px 0;
      width: 30%;
      display: flex;
      justify-content: center;

      h1 {
        color: #184AFB;
        font-size: 32px;
        font-weight: 700;
        line-height: 36px;
        text-transform: uppercase;

        span {
          color: #fff;
          height: 40px;
          width: 40px;
          background-color: #184AFB;
        }
      }

      img {
        display: block;
      }
    }

    .xamkor_item:nth-child(2) {
      padding: 20px 0;
    }
  }
}

@media (min-width: 450px) {
  .xamkorlar {
    &_info {
      h1 {
        font-size: 40px;
        line-height: 52px;
      }
    }

    &_name {
      border: none;

      .vertical_chiziq {
        display: block;
      }

      .xamkor_item {
        border-block: 1px solid #ccc;
      }
    }
  }
}

@media (min-width: 768px) {
  .xamkorlar {
    &_info {
      display: flex;
      justify-content: space-between;

      p {
        width: 50%;
      }
    }
  }
}

@media (min-width: 992px) {
  .xamkorlar {
    &_info {
      padding-left: 25%;

      p {
        width: 50%;
      }
    }
  }
}